<div>

  <h2>Grupo_islas</h2>

  <script type="text/ng-template" id="Grupo_Isla-save.html">
    <form name="form" role="form" novalidate class="ng-scope ng-invalid ng-invalid-required ng-dirty" ng-submit="ok()">

      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title" id="myGrupo_IslaLabel">Crear o editar Grupo_Isla</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>ID</label>
          <input type="text" class="form-control" name="id" ng-model="Grupo_Isla.Id" readonly>
        </div>


        <div class="form-group">
          <label>Geometría:</label>

          <input type="text" class="form-control" name="Geometria" ng-model="Grupo_Isla.Geometria" ng-required="true" />
          <span class="error" ng-show="form.Geometria.$error.minlength">Must be at least characters.</span>
          <span class="error" ng-show="form.Geometria.$error.maxlength">Must be at most characters.</span>
        </div>

        <div class="form-group">
          <label>Id Grupo Padre:</label>

          <input type="number" class="form-control" name="IdGrupoPadre" ng-model="Grupo_Isla.IdGrupoPadre" ng-required="false" />
          <span class="error" ng-show="form.IdGrupoPadre.$error.min">Must be greater than or equal to .</span>
          <span class="error" ng-show="form.IdGrupoPadre.$error.max">Must be less than or equal to .</span>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar
        </button>
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </script>

  <button class="btn btn-primary btn-lg" ng-click="create()">
    <span class="glyphicon glyphicon-flash"></span> Crear un nuevo Grupo Isla
  </button>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>

          <th>Geometría</th>

          <th>Id Grupo Padre</th>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="Grupo_Isla in Grupo_islas">
          <td>{{Grupo_Isla.Id}}</td>

          <td>{{Grupo_Isla.Geometria }}</td>

          <td>{{Grupo_Isla.IdGrupoPadre }}</td>

          <td>
            <button type="submit" ng-click="update(Grupo_Isla.Id)" class="btn">
              <span class="glyphicon glyphicon-pencil"></span> Editar
            </button>
            <button type="submit" ng-click="delete(Grupo_Isla.Id)" class="btn btn-danger">
              <span class="glyphicon glyphicon-remove-circle"></span> Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
