<div class="modal fade" id="deleteTipo_propietario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h4 class="modal-title kpiCustomHeading">Eliminar Tipo Propietario</h4>
                </div>
            </div>

            <div class="modal-body">
                <div class="row ">
                    <div class="col-xs-12">
                        Está seguro que desea eliminar este Tipo Propietario?
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button class="btn btn-success" ng-click="deleteTipo_propietario()">Si
                </button>
                <button class="btn btn-danger" data-ng-click="emptyTipo_propietario()" data-dismiss="modal">
                    No
                </button>
            </div>

        </div>
    </div>
</div>
