<h2>Hola Mundo 2</h2>
<div>
	<table>
      	<tr >
          	<td>{{tipo_propietarios.Id}}</td>
          	<td><h2>{{tipo_propietarios.Nombre}} </h2></td>
          	<td>{{tipo_propietarios.Descripcion}}</td>
      	</tr>
	</table>
</div>
<div>
	<button ng-click="removeReg()">Eliminar</button>
</div>
<div>
<form ng-submit="modReg()">
        <h3>Nombre</h3>
        <input type="text" ng-model="tipo_propietario.Nombre">
        <h3>Descripcion</h3>
        <input type="text" ng-model="tipo_propietario.Descripcion">
        <button type="sutmit">
                Editar
        </button>
</form>
</div>
