<div class="modal fade " id="updateVehiculo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog mediumModal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title kpiCustomHeading">Update Vehiculo</h4>
            </div>
            <form name="updateVehiculoForm">
                <div class="modal-body">
                    <div class='row'>
                        <div class='col-xs-12'>
                            <formly-form model='currentVehiculo' fields='vehiculoFields'></formly-form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-primary" ng-click="updateVehiculo()"
                            ng-disabled="updateVehiculoForm.$invalid">Save
                    </button>
                    <button class="btn" data-ng-click="emptyVehiculo()" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>