<div class="container-fluid" ng-animate="'animate'">

    <div class="row">
        <div class="col-xs-12">
            <h2 class="moduleHeader">
                Vehiculo
            </h2>

            <a ng-click="openAddVehiculo()" class="btn btn-primary pull-right">Add Vehiculo
            </a>

            <div class="col-md-3 pull-right">
                <input type="text" class="form-control customSearch" ng-model="vehiculosSearch"
                       placeholder="Search Vehiculo">
            </div>
        </div>
    </div>

    <div class="col-md-12 m-t-20" >

        <div class="row moduleContainer" >
            <div ng-if="!(vehiculos | searchObject: vehiculosSearch).length"
                 class="alert alert-block alert-info">
                <span class="pull-right close" data-dismiss="alert"></span>
                <h4 class="alert-heading">Oops!</h4>
                There are no Vehiculos here!
            </div>


            <table ng-hide="!(vehiculos  | searchObject: vehiculosSearch ).length"
                   class="table table-striped table-hover table-bordered dataTable">
                <thead>
                <tr role="row">
                    
                    <th role="columnheader" ng-click="sort='placa';reverse=!reverse">
                        Placa
                    </th>
                    
                    <th role="columnheader" ng-click="sort='id_nfc';reverse=!reverse">
                        ID NFC
                    </th>
                    
                    <th role="columnheader" ng-click="sort='id_propietario';reverse=!reverse">
                        Propietario
                    </th>
                    

                    <th role="columnheader" class="actionTH">Actions</th>
                </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" right-menu id="rightContextMenu">
                <tr ng-repeat="vehiculo in vehiculos | searchObject:vehiculosSearch | orderObjectBy:sort:reverse"
                    ng-animate="''">
                    
                    <td>
                        {{ vehiculo['placa'] }}
                    </td>
                    
                    <td>
                        {{ vehiculo['id_nfc'] }}
                    </td>
                    
                    <td>
                        {{ vehiculo['id_propietario'] }}
                    </td>
                    

                    <td>
                        <button class="btn btn-success btn-xs" tooltip-init
                                data-toggle="tooltip" data-placement="top" title="Update"
                                ng-click="openUpdateVehiculo(vehiculo)">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                        <button class="btn btn-danger btn-xs" tooltip-init
                                data-toggle="tooltip" data-placement="top" title="Delete"
                                ng-click="openDeleteVehiculo(vehiculo)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <ng-include src="'modules/vehiculo/views/addVehiculo.html'"></ng-include>
    <ng-include src="'modules/vehiculo/views/updateVehiculo.html'"></ng-include>
    <ng-include src="'modules/vehiculo/views/deleteVehiculo.html'"></ng-include>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</div>