<div class="modal fade " id="updatePropietario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog mediumModal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title kpiCustomHeading">Update Propietario</h4>
            </div>
            <form name="updatePropietarioForm">
                <div class="modal-body">
                    <div class='row'>
                        <div class='col-xs-12'>
                            <formly-form model='currentPropietario' fields='propietarioFields'></formly-form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-primary" ng-click="updatePropietario()"
                            ng-disabled="updatePropietarioForm.$invalid">Save
                    </button>
                    <button class="btn" data-ng-click="emptyPropietario()" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>