<div class="container-fluid">
  <div class="row">
    <div class="col-md-auto">
	    <center><h1>Universidad Distrital Francisco José de Caldas</h1></center>
	    <figure>
		    <center><img src='img/Escudo_UD.png' height="200px"></center>
	    </figure>
      <h2>Bienvenido a Hermes el sistema de Gestión de Parqueaderos</h2>
      <p class="lead">Hermes te ayuda a gestionar los recursos espaciales de tu parqueadero.</p>
      <img src='img/hermes_300ppp.png' height="300px" />
      <p>
        <span translate="main.like" i> ¿Quieres ver nuestros avances? Visita</span>&nbsp;<a href="https://github.com/udistrital/parqueaderos" target="_blank" translate="main.github">Parqueaderos</a>!
      </p>
    </div>
  </div>
</div>
