<div>

    <h2>Tipos de Propietarios</h2>

    <script type = "text/ng-template" id="Tipo_Propietario-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myTipo_PropietarioLabel">Crear o editar Tipo de Propietario</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id"
                           ng-model="Tipo_Propietario.Id" readonly>
                </div>


                <div class="form-group">
                    <label>Tipo:</label>

                    <input type="text" class="form-control" name="Tipo"
                           ng-model="Tipo_Propietario.Tipo" ng-required="true"
                           ng-maxlength=20/>
                    <span class="error" ng-show="form.Tipo.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.Tipo.$error.maxlength">Must be at most 20 characters.</span>
                </div>

                <div class="form-group">
                    <label>Descripcion:</label>

                    <input type="text" class="form-control" name="Descripcion"
                           ng-model="Tipo_Propietario.Descripcion" ng-required="false"
                           />
                    <span class="error" ng-show="form.Descripcion.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.Descripcion.$error.maxlength">Must be at most  characters.</span>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </script>

    <button class="btn btn-primary btn-lg" ng-click="create()">
        <span class="glyphicon glyphicon-flash"></span> Crear un nuevo Tipo de Propietario
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>

                <th>Tipo</th>

                <th>Descripcion</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="Tipo_Propietario in Tipo_propietarios">
                <td>{{Tipo_Propietario.Id }}</td>

                <td>{{Tipo_Propietario.Tipo }}</td>

                <td>{{Tipo_Propietario.Descripcion }}</td>

                <td>
                    <button type="submit"
                            ng-click="update(Tipo_Propietario.Id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(Tipo_Propietario.Id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
