<div>

  <h2>Islas</h2>

  <script type="text/ng-template" id="Isla-save.html">
    <form name="form" role="form" novalidate class="ng-scope ng-invalid ng-invalid-required ng-dirty" ng-submit="ok()">

      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title" id="myIslaLabel">Crear o editar Isla</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>ID</label>
          <input type="text" class="form-control" name="id" ng-model="Isla.Id" readonly>
        </div>


        <div class="form-group">
          <label>Ocupado:</label>

          <input type="checkbox" name="Ocupado" ng-model="Isla.Ocupado" ng-required="false" />
        </div>

        <div class="form-group">
          <label>Id Vehículo:</label>
<select class="form-control" name="IdVehiculo" ng-model="Isla.IdVehiculo.Id" ng-options="item as item.IdNfc for item in IslasVehIds track by item.Id" ng-required="true"></select>
         </div>

        <div class="form-group">
          <label>Geometría:</label>

          <input type="text" class="form-control" name="Geometria" ng-model="Isla.Geometria" ng-required="true" />
          <span class="error" ng-show="form.Geometria.$error.minlength">Must be at least characters.</span>
          <span class="error" ng-show="form.Geometria.$error.maxlength">Must be at most characters.</span>
        </div>

        <div class="form-group">
          <label>Id Grupo Isla:</label>
	<select class="form-control" name="IdGrupoIsla" ng-model="Isla.IdGrupoIsla.Id" ng-options="x for x in IslasGrIds" ng-required="true"></select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar
        </button>
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </script>

  <button class="btn btn-primary btn-lg" ng-click="create()">
    <span class="glyphicon glyphicon-flash"></span> Crear una nueva Isla
  </button>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>

          <th>Ocupado</th>

          <th>Id Vehículo</th>

          <th>Geometría</th>

          <th>Hora Entrada</th>

          <th>Hora Salida</th>

          <th>Id Grupo Isla</th>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="Isla in Islas">
          <td>{{Isla.Id}}</td>

          <td>{{Isla.Ocupado }}</td>

          <td>{{Isla.IdVehiculo.Id }}</td>

          <td>{{Isla.Geometria }}</td>

          <td>{{Isla.HoraEntrada.slice(0,19) | date:"yyyy-MM-dd HH:mm:ss" }}</td>

          <td>{{Isla.HoraSalida.slice(0,19) | date:"yyyy-MM-dd HH:mm:ss" }}</td>

          <td>{{Isla.IdGrupoIsla.Id }}</td>

          <td>

            <button type="submit" ng-click="update(Isla.Id)" class="btn">
              <span class="glyphicon glyphicon-pencil"></span> Editar
            </button>
            <button type="submit" ng-click="delete(Isla.Id)" class="btn btn-danger">
              <span class="glyphicon glyphicon-remove-circle"></span> Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
